/* Main Config */
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

/* Header Configuration */

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #C0C0C0;
}

/* Content Configuration */

#mainbody {
    background: #ffc107;
	color: white;
}

.info {
    padding: 60px 0;
	border-bottom: 1px solid #e5e5e5;
}

.main {
    width: 100%;
}

.display-4 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
}

.btn-mg {
    margin-bottom: 10px;
}

/* Footer Configuration */

footer p a {
	margin: 5px 15px;
}


/* Media Query Configuration */

@media (max-width: 575.98px) {
    .btn-outline-light {
        margin-top: 10px;
    }
}
